body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
   margin-left: 40px;
}
#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
  padding-bottom: 80px;
}
#supportwrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}
#supportHero a{
  color: white;
  line-height: 2.5;
  font-size: 17px;
  text-underline-offset: 0.5em;
  
}
#firstrow{
  margin-left: 150px;
}
#supportHero input{
  padding: 15px 50px;
  width: 95%;
  font-size: 15px;
  border: none;
  border-bottom-left-radius:10px ;
  border-top-left-radius: 10px;
}
#btn-search{
   width: 5%;
   background-color: white;
   font-size: 23px;
   padding: 0 35px;
   border: none;
   border-bottom-right-radius:10px ;
   border-top-right-radius: 10px;
}